- breadcrumb :edit_trading_history, @trading_history

section.content
  = form_for(@trading_history, url: admin_trading_history_path, action: 'update') do |f|
    = render partial: 'form', locals: { f: f, edit_flg: true }
